.App {
  text-align: center;
}
h1{
  font-size: 70px;
  font-family: sans-serif;
}
.todo{
  width: 60%;
  margin: 20px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  font-family: sans-serif;
}
.todo .del-btn{
  background: none;
  height: 25px;
  border: 1px solid #C0392B ;
  transition: 0.3s;
}
.todo .del-btn:hover{
  background: #C0392B;
  color: white;
}
.input input{
  margin: 0 15px;
  height: 20px;
  border: 1px solid #aaa;
  box-shadow: 0 2px 3px #bbb;
}
.input .btn{
  height: 25px;
  background: none;
  border: 1px solid #2E86C1 ;
  transition: 0.3s;
}
.input .btn:hover{
  background-color:#2E86C1 ;
  color: white;
}